<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
        {% block title %}
            {{pieces.metadata.title|striptags}}
        {% endblock %}
        </title>
        <meta name="description" content="{% block description %}{{pieces.metadata.description|striptags}}{% endblock %}">


        <meta name="twitter:card" value="summary">
        <meta property="og:title" content="{% block og_title %}{{pieces.metadata.title|striptags}}{% endblock %}">
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="{% block og_description %}{{pieces.metadata.description}}{% endblock %}">
        <meta property="og:site_name" content="{{pieces.metadata.title|striptags}}">


        <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">


        <link href="/build/all.css" rel="stylesheet" type="text/css">
    </head>


    <body class="{{lang}} {% block body_classes %}{% endblock %}">



        <header id="header">
            {% block header %}
            
            {% endblock %}
        </header>



        <div class="main" role="main">
            {% block main %}{% endblock %}

            {% block navigation %}
            <nav class="navigation js-piece" data-id="{{pieces.navigation._id}}">
                <a href="{{pieces.navigation.atelier_link}}" data-link-key="atelier_link" class="navigation__link"><img src="/build/images/atelier.png" alt=""></a>
                <a href="{{pieces.navigation.bureau_link}}" data-link-key="bureau_link" class="navigation__link"><img src="/build/images/bureau.png" alt=""></a>
                <a href="{{pieces.navigation.salle_link}}" data-link-key="salle_link" class="navigation__link"><img src="/build/images/salle.png" alt=""></a>
                <a href="{{pieces.navigation.cuisine_link}}" data-link-key="cuisine_link" class="navigation__link"><img src="/build/images/cuisine.png" alt=""></a>
                <a href="{{pieces.navigation.serre_link}}" data-link-key="serre_link" class="navigation__link"><img src="/build/images/serre.png" alt=""></a>
                <a href="{{pieces.navigation.equipe_link}}" data-link-key="equipe_link" class="navigation__link"><img src="/build/images/equipe.png" alt=""></a>
                <a href="{{pieces.navigation.evenements_link}}" data-link-key="evenements_link" class="navigation__link"><img src="/build/images/evenements.png" alt=""></a>
                <a href="{{pieces.navigation.photos_link}}" data-link-key="photos_link" class="navigation__link"><img src="/build/images/photos.png" alt=""></a>

                <span data-piece-admin></span>
            </nav>
            {% endblock %}
        </div>


        
        <div class="dev" id="dev">
            <a href="#index" class="parallax js-parallax">
                <img src="https://res.cloudinary.com/deming/image/upload/_dev_back.png" class="parallax__layer js-layer" data-depth=0.15>
                <img src="https://res.cloudinary.com/deming/image/upload/_dev_front.png" class="parallax__layer js-layer" data-depth=0.30>
            </a>
        </div>



        <div id="admin"></div>



        <footer id="footer">
            {% block footer %}
            <div class="parallax js-parallax">
                <img src="https://res.cloudinary.com/deming/image/upload/_back.jpg" class="parallax__layer js-layer" data-depth=0.60>
                <img src="https://res.cloudinary.com/deming/image/upload/_middle.png" class="parallax__layer js-layer" data-depth=0.70>
                <img src="https://res.cloudinary.com/deming/image/upload/_front.png" class="parallax__layer js-layer" data-depth=0.80>
            </div>
            {% endblock %}
        </footer>




        <script src="//cdn.jsdelivr.net/g/jquery@3.0.0-beta1(jquery.min.js),underscorejs@1.8.3,backbonejs@1.2.3,handlebarsjs@4.0.5,to-markdown@1.3.0,marked@0.3.5,velocity@1.2.3"></script>


        <script>
            var pieces = {{pieces_json|safe}};
            var plaza_settings = {
                api: window.location.origin+"/"{% if lang %},
                lang: "{{lang}}"{% endif %},
                lang_route: "{{lang_route}}"
            }
        </script>
        <script src="/build/templates.js"></script>
        <script src="/build/app.js"></script>


        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        // ga('create', 'UA-40301409-4', 'auto');
        // ga('send', 'pageview');

        </script>

        {% if debugging %}
        <script src="//localhost:9000/livereload.js" async></script>
        {% endif %}

    </body>
</html>
