

{% for list in lists %}
<div class="overlay parallax js-parallax" data-list="{{list.route}}" data-list-id="{{list._id}}">

	<a href="#index" class="overlay__back"></a>

	<div class="overlay__container padded padded--thick js-layer js-piece" data-id="{{pieces.lists._id}}" data-depth=0.15>
		<div class="text_right"><a href="#index" class="overlay__close"><img src="/build/images/close.png" alt="Close"></a></div>

		<h2 class="text_center"><span data-key="{{list.route}}_title">{{pieces.lists[list.route + '_title']|safe}}</span></h2>
		<div class="medium_bottom"><span data-key="{{list.route}}_description">{{pieces.lists[list.route + '_description']|safe}}</span> <span data-piece-admin></span></div>

		<div class="padded">
			<div class="grid grid--guttered overlay__container__overflow">
				{% for post in list.posts %}
				<div class="col col--3of12">
					<a href="#{{list.route}}/{{post._id}}"><img src="{{post.thumbnail}}" alt="{{post.title}} Thumbnail"></a>
				</div>
				{% endfor %}

				<div class="col col--3of12" data-list-admin></div>
			</div>
		</div>
	</div>
</div>


{% for post in list.posts %}
<div class="overlay" data-post="{{post._id}}" data-list-id="{{list._id}}" data-list-route="{{list.route}}">

	<a href="#{{list.route}}" class="overlay__back"></a>
	
	<div class="overlay__container overlay__container--transparent">
		{% if post.is_photo == true %}
		<div class="text_right padded padded--flat_bottom"><a href="#{{list.route}}" class="overlay__close"><img src="/build/images/close.png" alt="Close"></a></div>

		<p class="text_center" data-title>{{post.title}}</p>
		<img src="{{post.photo}}" class="img--center" data-content-image-key="photo" alt="Photo">
		{% elif post.is_product == true %}
		<div class="padded white_back">
			<div class="text_right"><a href="#{{list.route}}" class="overlay__close"><img src="/build/images/close.png" alt="Close"></a></div>

			<div class="grid grid--guttered">
				<div class="col col--7of12 col--small--12of12">
					<img src="{{post.product_photo}}" data-photo data-content-image-key="product_photo" alt="Photo du produit">
				</div>
				<div class="col col--5of12 col--small--12of12">
					<h2 data-title>{{post.title}}</h2>
					<p class="big_bottom" data-description data-content-key="product_description">{{post.product_description}}</p>
					<p class="big_bottom"><span data-price data-content-key="product_price">{{post.product_price}}</span>$</p>

					<button data-add-to-cart>{{pieces.lists.add_to_cart}}</button>
				</div>
			</div>
		</div>
		{% elif post.is_video == true %}
		<div class="text_right padded padded--flat_bottom"><a href="#{{list.route}}" class="overlay__close"><img src="/build/images/close.png" alt="Close"></a></div>

		<p class="text_center" data-title>{{post.title}}</p>
		<div class="video_container">
			<iframe src="" data-video-id="{{post.video_embed_id}}" frameborder="0" allowfullscreen scrolling="no"></iframe>
		</div>

		<div class="admin_only" data-content-key="video_embed_id">{{post.video_embed_id}}</div>
		{% endif %}

		<div data-admin></div>
	</div>
</div>
{% endfor %}

<div class="overlay" data-success>

	<a href="#{{list.route}}" class="overlay__back"></a>
	
	<div class="overlay__container overlay__container--transparent">
		<a href="#{{list.route}}"><h1 class="text_center">Merci!</h1></a>
	</div>
</div>
{% endfor %}