
<input type="file" class="hide" data-image-input>

<div class="grid padded">
	<div class="col col--2of12">
		<p><button class="js-save_edit">{{pieces.admin.save}}</button></p>
		<p><button class="button--transparent js-destroy">{{pieces.admin.delete}}</button></p>
	</div>
	<div class="col col--3of12">
		<p class="medium_bottom">
			<img src="{{model.thumbnail}}" alt="{{model.title}} Thumbnail" data-content-image-key="thumbnail">
		</p>
	</div>
</div>

