
<div class="padded">
	<button class="medium_bottom" data-new="photo">Nouvelle Photo</button><br>
	<button class="medium_bottom" data-new="product">Nouveau Produit</button><br>
	<button data-new="video">Nouveau Vidéo</button>
</div>