


// #PARALLAX

.parallax {
	position: fixed;
	top: 0;
	left: calc(50% - #{$max_width}/2);

	width: 100%;
	max-width: $max_width;
	height: 100%;

	@include shadow(0 0 30px fade-out($black, 0.75));

	@media #{$medium} {
		left: 0;
	}
}

	.parallax__layer {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		max-width: 100%;
		

		&:nth-child(n+2) {
			padding-top: 30vh;
		}


		
	}