


// #PARALLAX

.parallax {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	@media #{$medium} {
		position: absolute;
		top: auto;
		bottom: 0;
	}
}

	.parallax__layer {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		max-width: 100%;

		@media #{$medium} {
			
			&:nth-child(1) {
				display: none;
			}

			&:nth-child(n+1) {
				top: auto;
				bottom: 0;
			}

			-ms-transform: none !important;
			-webkit-transform: none !important;
			transform: none !important;
		}

		@media #{$small} {
			display: none;
		}
	}