

// #ADMIN

.admin_only {
	display: none !important;
}

.admin {
	position: fixed;
	bottom: $gutter/2;
	right: $gutter/2;
	z-index: 30;

	padding: $gutter/1.5;

	background: $white;
	border-radius: $border_radius;
}