

// #NAVIGATION

.navigation {
	@extend .grid;
	@extend .grid--center;

	&:first-child {
		padding-top: $gutter*2;
	}

	[contenteditable] {
		position: relative;
		z-index: 3;
	}

	@media #{$medium} {
		&:first-child {
			padding-top: $gutter;
		}
	}
}

	.navigation__link {

		@include transformer;

		&:hover,
		&:focus {
			@include transform(rotate(5deg));
		}


		margin: -35px;

		@media #{$medium} {
			margin: -40px;
		}

		&[data-link-key="atelier_link"] {
			margin-top: -60px;
		}

		&[data-link-key="bureau_link"] {
			margin-bottom: -20px;
		}

		&[data-link-key="salle_link"] {
			margin-left: -50px;
			margin-top: -45px;
		}

		&[data-link-key="boutique_link"] {
			margin-top: -90px;
		}

		&[data-link-key="evenements_link"] {
			margin-top: -40px;
			margin-right: 40px;
		}

		&[data-link-key="photos_link"] {
			margin-top: -60px;
			margin-right: -150px;
		}

		

		@media #{$small} {
			margin: -30px !important;
		}
	}



